.order-status {
    width: 40%;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.order-status select {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}

.order-status select:hover {
    border-color: #4A90E2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    background-color: #fff;
}
.status select {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
    outline: none; 
    transition: border-color 0.3s ease;
}
.status select:hover {
    border-color: #4A90E2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    background-color: #fff;
}
.kdmain-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.kdclose-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.kdmain {
    width: 100vh;
    height: 80vh;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.kdmain h1 {
    margin-top: 5px;
    margin-left:30%;
}
.kdmain-content {   
    overflow-y: auto;
    width: 100%;
    height: 90%;
}
.donhang {
    padding-left: 5px;
    /* border: 1px solid #7777773a; */
    margin-right: 5px;
    margin-top: 5px;
}
.donhang p {
    margin-top: 5px;
    margin-bottom: 5px ;
}
.donhang h3 {
    margin-top: 5px;
    margin-bottom: 5px ;
}
.kdprice {
    color: #ff4400;
    font-weight: bold;
}
#order-details {
    width:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#order-details h3 {
    margin-top: 0;
    color: #333;
}

#order-details p {
    margin: 5px 0;
    line-height: 1.5;
}

#order-details button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#order-details button:hover {
    background: #0056b3;
}
